{% macro var_name(var) %}
{% if var.name|last == "_" %}{{ var.name.replace("_", "\\\_") }}{% else %}{{ var.name }}{% endif %}
{% endmacro %}

{% macro var_type(var) %}
{% if var.children is defined %}
[{{ var.children.values()|map(attribute="name")|join(', ') }}]
{% elif var.kind == "array" %}
[{{ var.kind }}]
{% else %}
{{ var.kind }}
{% endif %}
{% endmacro %}

{% macro vars_docs(vars, start_indent=0) %}
{%- for var in vars.values() recursive %}
{{ ""|indent(start_indent, first=true) }}{% if loop.depth > 1 %}* {% endif %}{{ var_name(var) }} : {{ var_type(var) }}
{%- if var.description is defined %}
{{ var.description|wordwrap|indent(start_indent + (loop.depth * 4), first=true) }}
{%- endif %}
{%- if var.children is defined -%}
{{ loop(var.children.values())|indent(start_indent, first=true) }}
{%- endif %}
{% endfor -%}
{% endmacro %}
